<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
	  
	  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="all" />
	  <link rel="stylesheet" href="/admin/stylesheets/system.css" type="text/css" media="all" />
	
    <title>
    <%= 
       unless params[:id].nil? 
           Content.get(params[:id]).title + " | #{System.title}"
       else
           "#{System.title} | #{ System.description }" 
       end 
    %>
    </title>
    
    <!-- Patch holes in HTML5 support -->
    
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    
    <!-- End of content, begin scripting -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" type="text/css" media="all">
    
    <script src="/javascripts/actions.js"></script>
</head>
    
  <body>

    <div id="wrapper">
    
        <header id="header">    
            <h1><a id="logo" href="/"><%= System.title %></a></h1>
        </header>
        
        <%= yield %>       
    
    </div>

    <div id="overlays">
        
        <%= get_admin %>
        <%= styled_flash %>
        
    </div>
        
  </body>
</html>