<section>
    <article>
        <form method="put" action="/admin/<%= params[:name] %>/edit/<%= params[:id] %>">
          <h1>Currently Editing <strong><%= @model.name %> Entry <%= params[:id] %></strong> </h1>
          <%= erb :'../../personas/core/views/partials/_form' %>
          <input type="reset" value="Reset"/><input type="submit" value="Save"/>
        </form>
   </article>
</section>