<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
  	  
  	  <link rel="stylesheet" href="/admin/stylesheets/screen.css?<%= rand(99999999999) %>" type="text/css" media="all"/>
      <link rel="stylesheet" href="/admin/stylesheets/chosen.css" type="text/css" media="all"/>
      
      <title><%= System.theme.capitalize %> Admin</title>
      
      <!-- Patch holes in HTML5 support -->
      
      <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/ui-darkness/jquery-ui.css" type="text/css" media="all"/>
      
      <script src="/admin/javascripts/system.js"></script>
      <script src="/admin/javascripts/chosen.jquery.js"></script>
                
  </head>

  <body>    
      <header id="header">
          
          <a id="logo" href="/"><%= System.theme.capitalize %></a>
          
          <nav class="utility">
              <ul>
                  <li class="user">Welcome, <a href="/admin/user/edit/<%= current_user.id %>"><strong><%= current_user.username.capitalize %></strong></a></li>
                  <li><a href="/logout">Sign Out</a></li>
              </ul>
          </nav>
          
          <nav class="menu">
              <ul>
                  <li class="home"><a href="/admin" title="Go to dashboard">&#8657;</a></li>
                  <% all_models.each do |m| %>
                      <% unless m == System %>
                          <li <%= "class='current'" if (m == Content) %>><a href="/admin/<%= m.name.downcase %>"><img src="/admin/stylesheets/images/icons/<%= m.name.downcase %>.png"/><%= m.storage_name.capitalize %></a></li>
                      <% end %>
                  <% end %>
                  <li class="settings"><a href="/admin/system"><img src="/admin/stylesheets/images/icons/settings.png"/>System Settings</a></li>
                  
                  <% if defined?(Persona::Painter) == 'constant' && Persona::Painter.class == Class  %>
                      <li class="tools"><a href="/admin/tools"><img src="/admin/stylesheets/images/icons/tools.png"/>Tools</a></a></li>
                  <% end %>
              </ul>
          </nav>
      </header>
      
      <div id="wrapper">
          <%= yield %>      
      </div> 
      
        
      <footer>
          <small id="legal">Persona is maintained by Nathan Hunzaker of <a href="http://www.smashingboxes.com">Smashing Boxes</a></small>
      </footer>    
  
      <div id="overlays">
      
          <%= styled_flash %>
          
      </div>
        
  </body>
</html>