<!DOCTYPE html>
<html lang="en">

  <%= get_header() %>

  <body>

    <div id="wrapper">
    
        <header id="header">    
            <h1><a id="logo" href="/"><%= System.title %></a></h1>
            <%= get_navigation({ :include_home => true }) %>            
        </header>
        
        <%= yield %>       

        <%= get_footer() %>
    
    </div>

    <div id="overlays">
    
        <%= styled_flash %>
        
    </div>
        
  </body>
</html>