<section id="organization">
        
    <article class="text-block">
        <%= the_content %>
    </article>

    <section class="deals">    
    <nav>
        <header>Fundraisers</header>
    </nav>
    
    <ul class="feed">
    <% Deal.each do |deal| %>
        <li class="post">
            <h3 class="deal_type">CFCC Alumni</h3>
            <ul class="actions">
                <li><a href="#">Support this Fundraiser +</a></li>
            </ul>
            <div class="content">
                <img class="thumb" src="http://www.lorempixum.com/65/65" />
                <h4><a href=""><%= deal.title %></a></h4>
                <p class="meta"><time datetime="<%= deal.created_at %>"><%= deal.created_at.strftime("%l:%M%P on %A, %B %e %Y") %></time></p>
                <p class="description"><%= deal.description.split(" ")[0..5].join(" ") + "..." %></p>
            </div>                  
        </li>
    <% end %>
    
        <li class="view_all"><a class="button">View all deals</a></li>
    </ul>

</section>