<article id="search_results">
    <div class="columns-2"><%= the_content(); %></div>
    
    <nav class="filter">
        <header>Filter Deals</header>
        <ul>
            <li><a href="#" class="latest">Latest Deals<span>&rsaquo;</span></a></li>
            <li><a href="#" class="dining">Dining<span>&rsaquo;</span></a></li>
            <li><a href="#" class="entertainment">Entertainment<span>&rsaquo;</span></a></li>
            <li><a href="#" class="shopping">Shopping<span>&rsaquo;</span></a></li>
            <li><a href="#" class="travel">Travel<span>&rsaquo;</span></a></li>
        </ul>
    </nav>
    
    <section class="deals">
    
        <nav>
           <header>Saved Deals</header>
        </nav>
        
        <ul class="feed">            
        <% Deal.all.each do |deal| %>
            <li class="post">
                <div class="split first">
                    <h3 class="deal_type <%= deal.deal_type %>"><%= deal.deal_type.capitalize %></h3>
                    <ul class="actions">
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Text</a></li>
                        <li><a href="#">Follow</a></li>
                        <li><a href="#">Map</a></li>
                        <li><a href="#">Like</a></li>
                    </ul>
                    <div class="content">
                        <img class="thumb" src="http://www.lorempixum.com/65/65" />
                        <h4><a href=""><%= deal.title %></a></h4>
                        <p class="meta"><time datetime="<%= deal.created_at %>"><%= deal.created_at.strftime("%l:%M%P on %A, %B %e %Y") %></time></p>
                        <p class="description"><%= truncate(deal.description, 6, true) %></p>
                    </div> 
                </div>
                <div class="split last">
                    <h3 class="deal_type <%= deal.deal_type %>"><%= deal.deal_type.capitalize %></h3>
                    <ul class="actions">
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Text</a></li>
                        <li><a href="#">Follow</a></li>
                        <li><a href="#">Map</a></li>
                        <li><a href="#">Like</a></li>
                    </ul>
                    <div class="content">
                        <img class="thumb" src="http://www.lorempixum.com/65/65" />
                        <h4><a href=""><%= deal.title %></a></h4>
                        <p class="meta"><time datetime="<%= deal.created_at %>"><%= deal.created_at.strftime("%l:%M%P on %A, %B %e %Y") %></time></p>
                        <p class="description"><%= truncate(deal.description, 6, true) %></p>
                    </div> 
                </div>           
            </li>
        <% end %>
        
            <li class="view_all"><a class="button">View more deals</a></li>
        </ul>
        
    </section>

</article>