<article id="search_results">
    <div class="columns-2"><%= the_content(); %></div>
    
    <nav class="filter">
        <header></header>
        <ul>
            <li><a href="#">Latest Deals <span>&rsaquo;</span></a></li>
            <li><a href="#">Dining<span>&rsaquo;</span></a></li>
            <li><a href="#">Entertainment<span>&rsaquo;</span></a></li>
            <li><a href="#">Shopping<span>&rsaquo;</span></a></li>
            <li><a href="#">Travel<span>&rsaquo;</span></a></li>
        </ul>
    </nav>
    
    <section class="deals">
    
        <nav>
            <form>
                <label><input type="checkbox"/> Monster</label>
                <label><input type="checkbox"/> Tiny</label>
                <label class="search"><input type="search" class="search" placeholder="Search Deals" /></label>
            </form>
        </nav>
        
        <ul class="feed">
        
            <li><h2 class="title">Search Results</h2></li>
            
        <% Deal.all.each do |deal| %>
            <li class="post">
                <div class="split first">
                    <h3 class="deal_type monster">Monster Deal</h3>
                    <ul class="actions">
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Text</a></li>
                        <li><a href="#">Follow</a></li>
                        <li><a href="#">Map</a></li>
                        <li><a href="#">Like</a></li>
                    </ul>
                    <div class="content">
                        <img class="thumb" src="http://www.lorempixum.com/65/65" />
                        <h4><a href=""><%= deal.title %></a></h4>
                        <p class="meta"><time datetime="<%= deal.created_at %>"><%= deal.created_at.strftime("%l:%M%P on %A, %B %e %Y") %></time></p>
                        <p class="description"><%= truncate(deal.description, 6, true) %></p>
                    </div> 
                </div>
                <div class="split last">
                    <h3 class="deal_type monster">Monster Deal</h3>
                    <ul class="actions">
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Text</a></li>
                        <li><a href="#">Follow</a></li>
                        <li><a href="#">Map</a></li>
                        <li><a href="#">Like</a></li>
                    </ul>
                    <div class="content">
                        <img class="thumb" src="http://www.lorempixum.com/65/65" />
                        <h4><a href=""><%= deal.title %></a></h4>
                        <p class="meta"><time datetime="<%= deal.created_at %>"><%= deal.created_at.strftime("%l:%M%P on %A, %B %e %Y") %></time></p>
                        <p class="description"><%= truncate(deal.description, 6, true) %></p>
                    </div> 
                </div>           
            </li>
        <% end %>
        
            <li class="view_all"><a class="button">View more deals</a></li>
        </ul>
        
    </section>

</article>