<!DOCTYPE html>
<html lang="en">

  <%= get_header() %>

  <body>
    
    <div id="wrapper">
        <header>
            <h1><a id="logo" href="/">Prototypical</a></h1>
        </header>
        
        <div class="menu">
            <ul>
                <% Content.pages.each do |p| %>
                    <li><a href="<%= the_link(p)%>"><%= the_title(p) %></a></li>
                <% end %>
            </ul>
        </div>
        
        <%= yield %>
        
        <%= get_footer() %>

    </div>
    
    <%= styled_flash %>

    <%= get_admin() %>

    
  </body>
</html>