<!DOCTYPE html>
<html lang="en">

  <%= get_header() %>
    
  <body>

    <div id="wrapper">
        <header>
            
            <h1><a id="logo" href="/">Prototypical</a></h1>
        
            <div class="menu">
                <ul>
                    <% proto_loop "page" do |p| %>
                        <li><a href="<%= the_link %>"><%= the_title %></a></li>
                    <% end %>
                </ul>
            </div>
            <hr/>
        </header>
        
        <%= yield %>       

    </div>
     <%= get_footer() %>
    <%= styled_flash %>

    <%= get_admin() %>

    
  </body>
</html>