<!DOCTYPE html>
<html lang="en">

  <%= get_header() %>
    
  <body>

    <div id="wrapper">
    
        <header id="header">    
            <h1><a id="logo" href="/">Zeek, Monster Savings</a></h1>
            <%= get_navigation({ :include_home => true }) %>            
        </header>
        
        <%= yield %>       

     
        <%= get_footer() %>
    
    </div>

    <div id="overlays">
        <%= styled_flash %>
        <div class="landscape"></div>
        <div class="cloud foreground"></div>
        <div class="cloud middleground"></div>
        <div class="cloud background"></div>
    </div>
    
    <%= get_admin() %>
    
  </body>
</html>