<!DOCTYPE html>
<html lang="en">

  <%= erb :'furniture/header' %>

  <body>
    
    <div id="wrapper">
        <header>
            <h1><a id="logo" href="/">Prototypical</a></h1>
        </header>
        
        <div class="menu">
            <ul>
                <% Content.pages.each do |p| %>
                    <li><a href="/node/<%= p.id %>"><%= p.title %></a></li>
                <% end %>
            </ul>
        </div>
                        
        <%= yield %>
    
        <%= erb :'furniture/footer' %>
        
    </div>
    
    <%= styled_flash %>
    <%= erb :'furniture/menu' %>
    <%= erb :'furniture/scripts' %>
    
  </body>
</html>