<!DOCTYPE html>
<html lang="en">

  <%= get_header() %>
    
  <body>

    <div id="wrapper">
        <header>
            
            <h1><a id="logo" href="/">Prototypical</a></h1>
            
            <%= get_navigation %>
            
            <hr/>
        </header>
        
        <%= yield %>       

    </div>
     <%= get_footer() %>
    <%= styled_flash %>

    <%= get_admin() %>

    
  </body>
</html>