        <section>
            <article>
                <%= get_sidebar() %>
                
                <h3><%= the_title %></h3>
                
                <%= the_content %>
                
                <hr/>
                
                <% proto_loop "posts" do %>
                    <article>
                        <h4><a href="<%= the_link %>"><%= the_title %></a></h4>
                        <p class="meta"><time datetime="<%= the_datetime %>"><%= the_datetime @content, "%l:%M%P on %A, %B %e %Y" %></time></p>
                        <%= the_excerpt %>                    
                    </article>

                    <hr/>
                <% end %> 
                
            </article>
        </section>