        <section>
            <article>
                <h3>New Content</h3>

                <form action="/create" method="post">
                    <aside class="right">
                        <h4>Markdown Cheat Sheat</h4>
                        <hr/>
                        <h5>Headers:</h5>
                        <p> 
                            # Header 1<br/>
                            ## Header 2<br/>
                            ### Header 3<br/>
                            #### Header 4<br/>
                            ##### Header 5<br/>
                        <p>
                        <hr/>
                        <h5>Font Style:</h5>                        
                        <p>
                            <em>Italics: </em>_[text]_<br/>
                            <strong>Bold:</strong> **[text]**<br/>
                            <code>Code: </code>`[text]`<br/>
                            
                        </p>
                        <hr/>
                        <h5>Links</h5>
                        <p>[an example](http://example.com/ "Title")</p>
                        <hr/>
                        <h5>Lists:</h5>
                        <h6>Unordered</h6>
                        <ul>
                            <li>* Asterisks mark list items</li>
                            <li>- Also Minus Signs</li>
                            <li>+ And Plus Signs</li>
                        </ul>
                        <h6>Ordered</h6>
                        <ol>
                            <li>A numbered list</li>
                            <li>Which is numbered</li>
                            <li>With periods and a space</li>
                        </ol>
                        <hr/>
                        <h5>Other:</h5>
                        <p>![picture alt](/images/photo.jpeg "Title is optional")</p>
                        
                        <p>
                            > Blockquotes are like quoted text in email replies<br/>
                            >> And, they can be nested
                        </p>
                                             
                    </aside>
                    
                  <fieldset>
                    <legend>Content Type:</legend>
                    <select name="content_type" id="content_type">
                        <option value="page">Page</option>
                        <option value="post">Post</option>
                    </select>
                  </fieldset>
                  <fieldset>
                    <legend>Parent Page:</legend>
                     
                     <select name="parent" id="parent">
                            <option value="0">None</option>
                         <% proto_loop "page" do %>
                            <option value="<%= the_id %>"><%= the_title %></option>
                         <% end %>
                    </select>
                  
                  </fieldset>
                  
                  <fieldset>
                    <legend>Template:</legend>

                     <% templates().each do |t| %>
                        <label class="radioThumb"><input name="template" id="template" type="radio" value="<%= t %>" <%= "checked" if t == "single" %> /><img width="64" height="64" src="/images/template_thumbs/<%= t %>.png"/> <p><%= t.capitalize %></p></label>
                     <% end %>
                  </fieldset>

                  <fieldset>
                    <legend>Content:</legend>
                    <p>
                      <label for="title">Page Title</label><br>
                      <input type="text" class="title" name="title" id="title" placeholder="Lorem Ipsum" />
                    </p>
        
                    <p>
                      <label for="body">Markdown Content:</label><br>
                      <textarea name="body" id="body" rows="5" cols="20" placeholder="Write something..."><%= @page.body unless @page.nil? %></textarea>
                    </p>
        
                    <p>
                      <p>
                      <input type="reset" value="Reset" class="button reset" />
                      <input type="submit" value="Create" class="button submit"/>
                    </p>
                    </p>
        
                  </fieldset>
                </form>

            <hr/>
            </article>
        </section>