<%= get_header() %> 
<div id="main">		
	<div class="columns">    
    <div class="narrowcolumn singlepage">
     <%= if (have_posts()) : %>
     <%= while (have_posts()) : the_post() %>							
			<div class="post">
            	<div class="date">
                    <span class="post-day">404</span>                    
                </div>
                <div class="title"><h2><%= _e('Error 404','nattywp') %></h2></div>                
				<div class="entry">  
                  <p><%= _e('It appears you\'ve missed you\'re intended destination, either through a bad or outdated link, or a typo in the page you were hoping to reach.','nattywp') %></p>
                  <p><strong><%= _e('You can take a look through my recent posts.','nattywp') %></strong></p>
                       <%= query_posts('showposts=15') %>
                       <%= while (have_posts()) : the_post() %>
                          <ul class="arc">
                             <li><a href="<%= the_permalink() %>"><%= the_title() %></a></li>
                          </ul>
                       <%= endwhile%>
                  <div class="clear"></div>
				</div>   				              
			</div>	          	
	<%= endwhile %>		
    <%= endif %>				
	</div> <!-- END Narrowcolumn -->
    <div id="sidebar" class="profile">
       <%= get_sidebar()%>
    </div>    
<div class="clear"></div>
<%= get_footer() %> 
