<%= get_header()%>      

<%= 
$t_show_post = t_get_option( "t_show_post" )		
%>    
<div id="main">		
	<div class="columns">      
     <div class="narrowcolumn">
     <%= if (have_posts()) : %>
     <%= while (have_posts()) : the_post() %>							
			<div <%= post_class()%>>
            	
                 <div class="title">
				<h2><a href="<%= the_permalink() %>" rel="bookmark" title="<%= the_title() %>"><%= the_title() %></a></h2>
                <small><%= _e('Posted by','nattywp') %> <span class="author"><%= theme_get_profile() %></span> <%= _e('in','nattywp') %> <%= the_category(' | ')%> - (<%= comments_popup_link(__('0 Comments', 'nattywp'), __('1 Comments', 'nattywp'), __('% Comments', 'nattywp')) %>)</small> <%= edit_post_link(__('Edit','nattywp'), ' | ', '') %>
                </div>                
				<div class="entry">
					<%= if ($t_show_post == 'no') {//excerpt %>  
                         <%= get_thumb('Image','130','85','small-image', '<div class="thumb">', '</div>' ) %>                   
                        <%= the_excerpt() %>  
                    <%= } else { //fullpost %>
                        <%= t_show_video($post->ID) %>
                        <%= the_content() %>                      
                    <%= } %>
                    <div class="clear"></div>
                </div>              
                
				<p class="postmetadata">
           <span class="category"><%= the_tags('', ', ', '') %></span>   
				</p>
			</div>			
	<%= endwhile %>	
    		
		<div id="navigation">
      <%= natty_pagenavi() %>
		</div>    
        
    <%= else : %>
		<div class="post">
		<h2><%= _e('Not Found','nattywp') %></h2>
            <div class="entry"><p><%= _e('Sorry, but you are looking for something that isn\'t here.','nattywp') %></p>
            <%= get_search_form() %>
            </div>
        </div>
	<%= endif %>	
    
 </div> <!-- END Narrowcolumn -->
   <div id="sidebar" class="profile">
     <%= get_sidebar()%>
   </div>    
<div class="clear"></div>    
<%= get_footer() %> 
