<%=
/*
Template Name: Full Width
*/
%>

<%= get_header() %> 
 <div class="inner-pad"></div>
<div id="main">		
	<div class="columns">    
    <div class="narrowcolumn singlepage fullwidth">
     <%= if (have_posts()) : %>
     <%= while (have_posts()) : the_post() %>							
			<div class="post">            	
                <div class="title"><h2><%= the_title() %></h2></div>                
				<div class="entry">
                     <%= t_show_video($post->ID) %>
                     <%= the_content() %>    
                    <div class="clear"></div>
                </div>   
				<p class="postmetadata">	               
                <%= wp_link_pages(array('before' => '<p><strong>Pages:</strong> ', 'after' => '</p>', 'next_or_number' => 'number')) %>                    	
                <%= edit_post_link(__('Edit','nattywp'), '<p>', '</p>') %>	
				</p>                   
			</div>	          	
	<%= endwhile %>		
    <%= endif %>				
	</div> <!-- END Narrowcolumn -->

<div class="clear"></div>
<%= get_footer() %> 
   
