 <section>
    <header>
        <h2>Our thoughts on <strong>the web we work with</strong></h2>
    </header>
    
    <section>
        <%= the_content %>
    </section>
    
    <section>
    
        <article>
            <% proto_loop "post", 1 do %>
                <a href="<%= the_link %>"><img class="thumb" src="http://www.lorempixum.com/790/400/nature/" /></a>                 
                    <h3><a href="<%= the_link %>"><%= the_title %></a></h3>
                    <p><%= the_author %></p>
                    <p class="meta"><time datetime="<%= the_datetime %>"><%= the_datetime.strftime("%l:%M%P on %A, %B %e %Y") %></time></p>
                    <p class="columns-2"><%= the_excerpt(@content, 150) %></p>
                    <a class="more" href="<%= the_link %>">Read More</a>
            <% end %>
        </article>
        
        <ul class="feed">
            <% proto_loop "post" do %>
                <li class="post">
                    <a href="<%= the_link %>"><img class="thumb" src="http://www.lorempixum.com/245/100/people/2" /></a>                 
                    <h4><a href="<%= the_link %>"><%= the_title %></a></h4>
                    <p class="meta"><time datetime="<%= the_datetime %>"><%= the_datetime.strftime("%l:%M%P on %A, %B %e %Y") %></time></p>
                    <p><%= the_excerpt(@content, 20) %></p>
                    <a class="more" href="<%= the_link %>">Read More</a>
                </li>
            <% end %> 
        </ul>
    </section>
</section>