        <section>
            <article>
                <h3>Edit Content</h3>
                <form action="/update/<%= the_id %>" method="post" id="manageContent">
                    
                  <%= erb :'../../proto-includes/personas/cms/admin/cheatsheet' %>
                  
                  <fieldset>
                    <legend>Content Type:</legend>
                    <select name="content_type" id="content_type">
                        <option value="page" selected="<%= "true" if the_content_type == "page" %>" >Page</option>
                        <option value="post" selected="<%= "true" if the_content_type == "post" %>" >Post</option>
                    </select>
                  </fieldset>
                  
                  <fieldset>
                    <legend>Parent Page:</legend>
                     
                     <select name="parent" id="parent">
                            <option value="0">None</option>
                         <% proto_loop "page" do %>
                              <option value="<%= the_id %>"><%= the_title %></option>
                         <% end %>
                    </select>
                  
                  </fieldset>
  
                  <fieldset>
                    <legend>Template:</legend>
                     <% templates().each do |t| %>
                        <label class="radioThumb"><input name="template" id="template" type="radio" value="<%= t %>" <%= "checked" if the_template === t %>/><img width="64" height="64" src="/images/template_thumbs/<%= t %>.png"/> <p><%= t.capitalize %></p></label>
                     <% end %>
                  </fieldset>
                  
                  <fieldset>
                    <legend>Please use the form below to create a page:</legend>
                    <p>
                      <label for="title">Page Title</label><br>
                      <input type="text" class="title" name="title" id="title" value="<%= the_title %>" />
                    </p>
        
                    <p>
                      <label for="body">Markdown Content:</label><br>
                      <textarea name="body" id="body" rows="5" cols="20"><%= the_content nil, true %></textarea>
                    </p>
        
                    <p>
                      <input type="reset" value="Reset" class="button" />
                      <input type="submit" value="Update" class="button" />
                    </p>
        
                  </fieldset>
                </form>

            <hr/>
            </article>
        </section>