        <section class="manage">
            <article>
                <h3>New Content</h3>

                <form action="/create" method="post" id="manageContent">
                  
                  <%= erb :'../../proto-includes/personas/cms/admin/cheatsheet' %>
                    
                  <fieldset>
                    <legend>Content Type:</legend>
                    <select name="content_type" id="content_type">
                        <option value="page">Page</option>
                        <option value="post">Post</option>
                    </select>
                  </fieldset>
                  <fieldset>
                    <legend>Parent Page:</legend>
                     
                     <select name="parent" id="parent">
                            <option value="0">None</option>
                         <% proto_loop "page" do %>
                            <option value="<%= the_id %>"><%= the_title %></option>
                         <% end %>
                    </select>
                  
                  </fieldset>
                  
                  <fieldset>
                    <legend>Template:</legend>

                     <% templates().each do |t| %>
                        <label class="radioThumb"><input name="template" id="template" type="radio" value="<%= t %>" <%= "checked" if t == "single" %> /><img width="64" height="64" src="/images/template_thumbs/<%= t %>.png"/> <p><%= t.capitalize %></p></label>
                     <% end %>
                  </fieldset>

                  <fieldset>
                    <legend>Content:</legend>
                    <p>
                      <label for="title">Page Title</label><br>
                      <input type="text" class="title" name="title" id="title" placeholder="Lorem Ipsum" />
                    </p>
        
                    <p>
                      <label for="body">Markdown Content:</label><br>
                      <textarea name="body" id="body" rows="5" cols="20" placeholder="Write something..."><%= @page.body unless @page.nil? %></textarea>
                    </p>
        
                    <p>
                      <p>
                      <input type="reset" value="Reset" class="button" />
                      <input type="submit" value="Create" class="button"/>
                    </p>
                    </p>
        
                  </fieldset>
                </form>

            <hr/>
            </article>
        </section>