<section>
    <article>
        <h3>System Settings</h3>
        <form action="/admin" method="post" id="manageContent">
            <fieldset>
              <legend>Site Settings: </legend>
              <p>
                  <label for="title">Title</label><br>
                  <input type="text" class="title" name="title" id="title" value="<%= System.title %>" />
              </p>
              
              <p>
                  <label for="description">Site Description</label><br>
                  <input type="text" class="title" class="description" name="description" id="description" value="<%= System.description %>" />
              </p>
              
            </fieldset>
            <fieldset>
                <legend>Content Settings</legend>
                <p>
                    <label for="homepage">Homepage</label></br>
                    <select name="homepage" id="homepage">
                        <% proto_loop "page" do %>
                            <option value="<%= the_id %>" <%= "selected" if System.homepage === the_id %> ><%= the_title %></option>
                        <% end %>
                    </select>
                </p>
            </fieldset>
            <fieldset>
                <legend>Theme Settings:</legend>
                <label>Template:</label><br/>
                <% themes.each do |t| %>
                  <label class="radioThumb"><input name="theme" id="theme" type="radio" value="<%= t %>" <%= "checked" if current_theme === t %>/><img width="64" height="64" src="/images/template_thumbs/<%= t %>.png"/> <p><%= t.capitalize %></p></label>
                <% end %>
            </fieldset>
            
            <input type="reset" value="Reset" />
            <input type="submit" value="Save" />
        </form>

    <hr/>
    </article>
</section>