        <section class="manage">
            <article>
                <h3>Edit <strong><%= the_title %></strong></h3>
                <form action="/admin/manage/content/edit/<%= the_id %>" method="post" id="manageContent">
                    
                  <%= get_cheatsheet %>
                  
                  <fieldset>
                    <legend>Parent Page:</legend>
                    <select name="record[parent]" id="parent">
                        <option value="0">None</option>
                        <% parent = the_parent %>
                        <% proto_loop "page" do %>
                            <option value="<%= the_id %>" <%= "selected" if parent == @content.id%> ><%= the_title %></option>
                        <% end %>
                    </select>
                  
                  </fieldset>
  
                  <fieldset>
                    <legend>Template:</legend>
                     <% templates.each do |t| %>
                        <label class="radioThumb"><input name="record[template]" id="template" type="radio" value="<%= t %>" <%= "checked" if the_template === t %>/><img width="64" height="64" src="/images/template_thumbs/<%= t %>.png"/> <p><%= t.capitalize %></p></label>
                     <% end %>
                  </fieldset>
                  
                  <fieldset>
                    <legend>Please use the form below to create a page:</legend>
                    <p>
                      <label for="title">Page Title</label><br>
                      <input type="text" class="text" name="record[title]" id="title" value="<%= the_title %>" />
                    </p>
        
                    <p>
                      <label for="body">Markdown Content:</label><br>
                      <textarea name="record[body]" id="body" rows="5" cols="20"><%= the_content nil, true %></textarea>
                    </p>
        
                    <p>
                      <input type="reset" value="Reset" class="button" />
                      <input type="submit" value="Update" class="button" />
                    </p>
        
                  </fieldset>
                </form>

            <hr/>
            </article>
        </section>