<section>
    <article>
        <h1>All Content</h1>
        <hr/>
        <div id="tabs">
        <ul>
        <% Content.properties.find{|p| p.name.to_s == "content_type"}.options[:flags].each_with_index do |c, i| %>
            <li><a href="#tabs-<%= i + 1 %>"><%= c %></a></li>
        <% end %>
        </ul>
        <% Content.properties.find{|p| p.name.to_s == "content_type"}.options[:flags].each_with_index do |c, i| %>
            <div id="tabs-<%= i+1 %>">
                <table>
                    <thead>
                        <th>ID</th>
                        <th>Title</th>
                    </thead>
                    <tbody>
                <% Content.all(:content_type => c).each do |content| %>
                    <tr>
                        <td>
                            <%= content.id %>
                        </td> 
                        <td>
                            <%= content.title %>
                        </td>                         
                    </tr>
                <% end %>
                </tbody>
                </table>
            </div>
        <% end %>

        </div>
    </article>
</section>
<style>
    table th    { color: #111; }
    table tr td { color: #111; }
</style>
<script>
    $(function() {
    	$( "#tabs" ).tabs();
    });
</script>