        <section class="manage">
            <article>
                <h3>New <strong>Content</strong></h3>

                <form action="/admin/manage/create/content" method="post" id="manageContent">
                  
                  <%= get_cheatsheet %>
                  
                  <fieldset>
                    <p>
                      <label for="title">Page Title</label><br>
                      <input type="text" class="text" name="record[title]" id="title" placeholder="Lorem Ipsum" />
                    </p>
        
                    <p>
                      <label for="body">Markdown Content:</label><br>
                      <textarea name="record[body]" id="body" rows="5" cols="20" placeholder="Write something..."><%= @page.body unless @page.nil? %></textarea>
                    </p>
        
                    <input type="reset" value="Reset" class="button" />
                    <input type="submit" value="Create" class="button"/>
        
                  </fieldset>
                  
                  <fieldset>
                    <legend>Content Type:</legend>
                    <select name="record[content_type]" id="content_type">
                        <option value="page">Page</option>
                        <option value="post">Post</option>
                    </select>
                  </fieldset>
                  <fieldset>
                    <legend>Parent Page:</legend>
                     
                     <select name="record[parent]" id="parent">
                            <option value="0">None</option>
                         <% proto_loop "page" do %>
                            <option value="<%= the_id %>"><%= the_title %></option>
                         <% end %>
                    </select>
                  
                  </fieldset>
                  
                  <fieldset>
                    <legend>Template:</legend>

                     <% templates.each do |t| %>
                        <label class="radioThumb"><input name="record[template]" id="template" type="radio" value="<%= t %>" <%= "checked" if t == "single" %> /><img width="64" height="64" src="/images/template_thumbs/<%= t %>.png"/> <p><%= t.capitalize %></p></label>
                     <% end %>
                     
                  </fieldset>

                </form>

            <hr/>
            </article>
        </section>