<!DOCTYPE html>
<html lang="en">

  <%= get_header() %>
    
  <body>
  
    <header id="navigation">    
        <h1><a class="logo" href="/"><%= System.title %></a><span class="arrow"></span></h1>
        <%= get_navigation({ :include_home => true }) %>            
    </header>
    
    <section id="wrapper">
        
        <%= yield %>       

        <%= get_footer() %>
    
    </section>
    
    <%= styled_flash %>
    
  </body>
  
</html>