<nav class="<%= @css_class %>">
    <ul>
        <% if @include_home %>
            <li class="home first <%= "current" if params[:id] == nil %>"><a title="Home" href='/'>Home</a></li>
        <% end %>
        
        <% proto_loop "page" do %>
            
            <% if ( @content.parent == 0 && @content.id != System.homepage ) %>
                <li class="<%= get_position(@index, @content) %>">
                    <a href="<%= the_link %>"><%= the_title %></a>
                </li>
            <% end %>
            
        <% end %>
        
    </ul>
</nav>