<style>
    table           { width: 300px; clear: none; float: left; margin: 0 16px 0 0;}
    table th        { text-align: left; }
    table tr td     { text-align: left; }
</style>

<section>
    <article>
        <h1>Data Model</h1>
        <hr/>
        <% all_models.each do |m| %>
            <table>
              <caption><%= m.name.capitalize %> (<%= m.all.count %>)</caption>
              <thead>
                  <th>Attribute Name</th>
                  <th>Attribute Type</th>
              </thead>
              <tbody>
                <% m.properties.each do |p| %>
                    <tr>
                        <td><%= p.name.to_s.gsub("_", " ").capitalize %></td>
                        <td>
                            <% if p.options[:flags] %>
                                Enumerable:
                                <ul>
                                    <% p.options[:flags].each do |f| %>
                                        <li><%= f.capitalize %></li>
                                    <% end %>
                                </ul> 
                            <% else %>
                                <%= p.options[:primitive] %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
              </body>
            </table>
        <% end %>
   </article>
</section>