<h2>Sitemap</h2>
<p>Every piece of content on this site.</p>

<h3>Pages</h3>
<ul>
    <% proto_loop "page" do %>
        <li><a href="<%= the_link %>"><%= the_title %></a> Parent: <%= @content.parent %></li>
    <% end %>
</ul>

<hr/>

<h3>Posts</h3>
<ul>
    <% proto_loop "post" do %>
        <li><a href="<%= the_link %>"><%= the_title %></a></li>
    <% end %>
</ul>