</div><!--wrapper-->
<div class="clear"></div>
<div id="footer">
	<div id="footer-inside">
		<p>
			<%= _e('Copyright', 'zbench') %>&nbsp&copy&nbsp<%= echo date("Y") %>&nbsp<%= bloginfo('name') %>
			&nbsp|&nbspTheme <a href="http://zww.me" title="designed by zwwooooo">zBench</a>
			&nbsp|&nbspPowered by <a href="http://wordpress.org/">WordPress</a> 
		</p>
		<span id="back-to-top">&Delta <a href="#nav" rel="nofollow" title="Back to top"><%= _e('Top', 'zbench') %></a></span>
	</div>
</div><!--footer-->
<%= wp_footer() %>
</body>
</html>
